<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Movie Filter Page</title>
</head>

<body>

<h1>
Please select the options you like!
</h1>

<form method="POST">

<fieldset data-join="between" name="Filers">
<legend class="text-muted unbold" data-tag="Filers">Filers</legend>


<p data-join="and" name="genres">
	<legend class="text-muted unbold" data-tag="Votes">Genres (Please select at least 1 genre you like)</legend>

        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="906" name="Drama" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Drama</span>
    </label>
        </span>

        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="607" name="Thriller" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Thriller</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="440" name="Action" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Action</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="365" name="Crime" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Crime</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="360" name="Comedy" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Comedy</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="281" name="Romance" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Romance</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="240" name="Adventure" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Adventure</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="220" name="Mystery" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Mystery</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="204" name="Sci-Fi" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Sci-Fi</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="197" name="Horror" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Horror</span>
    </label>
        </span>
	
	<br>
	
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="154" name="Fantasy" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Fantasy</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="126" name="War" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">War</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="118" name="Biography" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Biography</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="106" name="History" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">History</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="60" name="Sport" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Sport</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="40" name="Music" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Music</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="31" name="Family" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Family</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="14" name="Western" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Western</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="10" name="Musical" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Musical</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="3" name="Film-Noir" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Film-Noir</span>
    </label>
        </span>
        <span class="col-2">
    <label class="unbold">
        <input type="checkbox" data-count="1" name="Animation" ref-marker="ttls_ref_gnr">
        <span class="faceter-facet-text">Animation</span>
    </label>
        </span>
    </p>


	<input type="submit" value = "Submit">
    </fieldset>
</form>



</body>
</html>